* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bg {
  background-image: url("/aboutimg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
header {
  & h1 {
    text-align: center;
    margin-top: 20px;
  }
}
.marquee {
  overflow: hidden;
  background: #4e4545;
  color: white;
  padding: 12px 0;
}

.marquee-content {
  display: flex;
  width: max-content;
  animation: scroll 15s linear infinite;
}

.marquee-content span {
  white-space: nowrap;
  padding-right: 80px;
  font-size: 18px;
  font-weight: bold;
}

@keyframes scroll {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateX(-50%);
  }
}
.about {
  margin: 20px;
  width: 40%;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  color: white;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
  & h2,
  h3 {
    margin: 2rem;
    color: springgreen;
  
  }
  & .about-text {
    white-space: pre-line;
    line-height: 1.1;
    text-align: justify;
    margin: 2rem;
    font-size: large;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    color: white;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
  }
}
.slider {
  height: 650px;
  width: 650px;
  margin: 20px;
  padding: 10px;
  border: 10px solid;
   padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    color: white;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
  transition: opacity 0.5s ease;
}
